<%= stylesheet_link_tag 'style'%>
<%= button_to "Sign Out", destroy_user_session_path, method: :delete, form_class: "sign-out-form", onclick: "window.location.href='/users/sign_in'" %>
<%= link_to "Sign In", new_user_session_path %></br>
<%= link_to "Sign Up", new_user_registration_path %>

<section class='user-section'>
  <% @users.each do |user| %>
    <a href="<%= user_path(user.id) %>" class="nav-link">
      <div class='user-home'>
        <div class='user-img'>
          <img src="<%= user.photo %>">
        </div>
        <div class='about-user'>
          <p class="user-name"><%= user.name %></p>
          <p class="number-of-posts">Number of Posts: <%= user.posts.count %></p>
        </div>
      </div>
    </a>
  <% end %>
</section>
