<h1>Post Details</h1>
<p>Post #<%= @post.id %> by <%= @post.user.name %></p>
<p>Comments: <%= @post.comments.count %>, Likes: <%= @post.likes.count %></p>
<p><%= @post.content %></p>
<!-- Placeholder for displaying comments for the post -->
